<div ng-controller="OrderManagementController as orderMgmt">


    <div class="well">
        <h1>Welcome to the Circuit Breaker pattern demonstration</h1>

        
        <hr/>
        <div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="pauseValue" class="col-sm-6 control-label">Seconds to pause before throwing exception</label>
                    <div class="col-sm-2">
                        <input type="number" 
                               class="form-control" 
                               id="pauseValue"
                               ng-model="orderMgmt.secondsToWaitBeforeThrowingException">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-6">
                        <button class="btn btn-default"
                                ng-click="orderMgmt.toggleRetrieveOrders()"
                                ng-class="{true: 'btn-danger', false: 'btn-success'}[orderMgmt.isRetrievingOrders]">
                            {{orderMgmt.retrieveOrdersButtonText}}
                        </button>
                        &nbsp;
                        <button class="btn btn-default"
                                ng-click="orderMgmt.toggleExceptionThrowingInRepositories()"
                                ng-class="{true: 'btn-danger', false: 'btn-success'}[orderMgmt.exceptionThrowingEnabled]">
                            {{orderMgmt.exceptionThrowingButtonText}}
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-6">
                        <button class="btn btn-default"
                                ng-click="orderMgmt.toggleCircuitBreaker()"
                                ng-class="{true: 'btn-danger', false: 'btn-success'}[orderMgmt.circuitBreakerEnabled]">
                            {{orderMgmt.toggleCircuitBreakerButtonText}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="well">
        <h2>Statistics</h2>
        
        <div class="alert alert-success" ng-show="!orderMgmt.hasErrors">
            <strong>Success!</strong> Things are rolling along nicely on the server.
        </div>

        <div class="alert alert-danger" ng-show="orderMgmt.hasErrors">
            <strong>Failure!</strong> Things aren't rosy on the server.
        </div>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">Number of invocations</label>
                <div class="col-sm-9">
                    {{orderMgmt.numberOfInvocations}}    
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Elapsed time on last invocation</label>
                <div class="col-sm-9">
                    {{orderMgmt.elapsedTimeInMilliseconds}} milliseconds    
                </div>
            </div>
        </form>
    </div>

</div>