<div class="well">
    <h1>Welcome to the Circuit Breaker pattern</h1>
    <div ng-controller="OrderManagementController as orderMgmt">
        
        <div class="alert alert-success" ng-show="!orderMgmt.hasErrors">
            <strong>Success!</strong> Things are rolling along nicely.
        </div>

        <div class="alert alert-danger" ng-show="orderMgmt.hasErrors">
            <strong>Failure!</strong> Things aren't rosy on the server.
        </div>
        
        <div class="">
            <div class="pull-left">
                <button class="btn btn-default"
                        ng-click="orderMgmt.toggleExceptionThrowingInRepositories()"
                        ng-class="{true: 'btn-danger', false: 'btn-success'}[orderMgmt.exceptionThrowingEnabled]">
                    {{orderMgmt.exceptionThrowingButtonText}}
                </button>                  
            </div>
            <div class="pull-right">
                <button class="btn btn-default"
                        ng-click="orderMgmt.doToggleRetrieveOrders()">
                    {{orderMgmt.retrieveOrdersButtonText}}
                </button>
                &nbsp;
                &nbsp;
                &nbsp;
               <span class="invocations">
                    {{orderMgmt.numberOfInvocations}} invocations
                </span>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>