# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.cache
*.suo
/CircuitBreakerSpike/CircuitBreakerSpike.Core.UnitTests/bin/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.Core/bin/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.Core.UnitTests/obj/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.Services/bin/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.Services/obj/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.Services.UnitTests/bin/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.Core/obj/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.Services.UnitTests/obj/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.WebApi/bin
/CircuitBreakerSpike/CircuitBreakerSpike.WebApi/obj/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.WebApi.UnitTests/obj/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.WebApi.UnitTests/bin/Debug
/CircuitBreakerSpike/packages
*.user
/CircuitBreakerSpike/CircuitBreakerSpike.CoreTests/obj/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.Repositories/obj/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.Repositories.UnitTests/obj/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.Repositories/bin/Debug
/CircuitBreakerSpike/CircuitBreakerSpike.Repositories.UnitTests/bin/Debug
